#banner
	.banner_content
		%h1 File Cabinet
		%p Always stay organized
		%button= link_to 'Enter', new_user_registration_path
 
#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Organize
				%p Bacon ipsum dolor amet bresaola turducken sirloin ribeye shankle capicola. Pork loin ribeye andouille shoulder pork belly shankle kielbasa short loin chuck t-bone pancetta jerky pig cow swine. Chicken turducken prosciutto.

#bottom_cta
	.wrapper
		%h2 Go Ahead!
		%br
		%button= link_to 'Join Now', new_user_registration_path